{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Agendar cita</h1>
    <div class="aaa">
    <p>Psicólogo: {{ schedule.psicologo.psi_idusuario.user.first_name }} {{ schedule.psicologo.psi_idusuario.user.last_name }}</p>
    <p>Inicio: {{ schedule.start_time }}</p>
    <p>Final: {{ schedule.end_time }}</p>
    <p> Valor: ${{ schedule.valor }} </p>
    </div>
    <form method="post" class="formapp">
        {% csrf_token %}
        <button onclick="history.back()">Volver</button>
        <button type="submit">Agendar</button>
    </form>
    
</div>
<style>
    .container {
        margin-left: 150px;
    }
    button {
            margin-left: 150px;
            background-color:#8EB859;
            color: #fff;
            cursor: pointer;
            text-align: center;
            justify-content: center;
            padding: 10px;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            margin-top: 15px;
            margin-bottom: 10px;
    }
    .formapp {
        margin-top: 80px;
        margin-right: 150px;
    }
    .aaa {
        margin-top: 80px;
    }
    
</style>
{% endblock content %}
