{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Agendar cita</h1>
    <p>Psicólogo: {{ schedule.Psicologo.username }}</p>
    <p>Inicio: {{ schedule.start_time }}</p>
    <p>Final: {{ schedule.end_time }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Agendar</button>
    </form>
    <button onclick="history.back()">Volver atrás</button>
</div>
<style>
    .container {
        margin-left: 150px;
    }
    button {
            margin-left: 150px;
            background-color:#8EB859;
            color: #fff;
            cursor: pointer;
            text-align: center;
            justify-content: center;
        }
</style>
{% endblock content %}
