{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scheduling/css/stylesheet.css' %}">
<div class="container">
    <h1>Tu agenda</h1>
    <table>
        <tr>
            <th>Hora de inicio</th>
            <th></th>
            <th>Hora de término</th>
            <th>Disponibilidad</th>
            <th>Valor</th>
            <th>Link habilitado</th>
        </tr>
        {% for schedule in schedules %}
            
            <tr>
                {% if schedule.start_time == None %}
                    <td> Sin inicio</td>
                {% else %}
                    <td>{{ schedule.start_time }}</td>
                {% endif %}
                <td> - </td>
                {% if schedule.start_time == None %}
                    <td> Sin término</td>
                {% else %}
                    <td>{{ schedule.end_time }}</td>
                {% endif %}
                {% if schedule.available == True %}
                    <td> Disponible</td>
                {% else %}
                    <td> Agendado </td>
                {% endif %}
                <td> ${{ schedule.valor }}</td>
                {% if schedule.available == True %}
                <td> No disponible </td>
                {% else %}
                    {% if schedule.link_h == "Y" %}
                    <td><a href="{% url 'videollamada' %}">Habilitado</a></td>
                    {% else %}
                    <form class="schedule"method="post">
                        {% csrf_token %}
                        <td> <button class="btnlink" type="submit"> Habilitar link </button> </td>
                    </form>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <button onclick="history.back()" class="botoncito">Volver atrás</button>
    <button class="botoncito"><a href="{% url 'create_schedule' %}">Crea una nueva hora</a></button>
    <button class="botoncito"> Editar agenda </button>
</div>
    <style>
    
        table {
            margin-left: 300px;
            margin-top: 50px;
        } 
        .botoncito {
            background-color:#8EB859;
            color: #fff;
            cursor: pointer;
            text-align: center;
            justify-content: center;
            padding: 10px;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            margin-top: 100px;
            margin-bottom: 10px;
        }
        .btnlink {
            background-color:#8EB859;
            color: #fff;
            cursor: pointer;
            text-align: center;
            justify-content: center;
            padding: 10px;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        container {justify-content: center}
    </style>
{% endblock content %}
