{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Horarios disponibles</h1>
    <table>
        <tr>
            <th>Hora de inicio</th>
            <th>Hora de término</th>
            <th>Disponibilidad</th>
            <th>Agendar</th>
        </tr>
        {% for schedule in schedules %}
            
            <tr>
                {% if schedule.start_time == None %}
                    <td> Sin inicio</td>
                {% else %}
                    <td>{{ schedule.start_time }}</td>
                {% endif %}
                {% if schedule.start_time == None %}
                    <td> Sin término</td>
                {% else %}
                    <td>{{ schedule.end_time }}</td>
                {% endif %}
                {% if schedule.available == True %}
                    <td> Disponible</td>
                {% else %}
                    <td> No disponible</td>
                {% endif %}
                <td><button id="btnselec" onclick="location.href='{% url 'book_appointment' schedule.schedule_id %}'">Seleccionar</button></td>

            </tr>
            
          
        {% endfor %}
    </table>
    <!-- <button><a href="{% url 'create_schedule' %}">Create New Schedule</a></button> -->
</div>
    <style>
        h1 {
            margin-left: 150px;
        }
        table {
            margin-left: 150px;
        }
        button #btnselec {
            margin-left: 150px;
            display: flex;

        }
    </style>
{% endblock content %}