{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Editar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="summary" class="form-label">Resumen:</label>
            <input type="text" class="form-control" id="summary" name="summary" value="{{ event_details.summary }}">
        </div>
        <div class="mb-3">
            <label for="start_time" class="form-label">Hora de inicio:</label>
            <input type="text" class="form-control" id="start_time" name="start_time" value="{{ event_details.start.dateTime }}">
        </div>
        <div class="mb-3">
            <label for="end_time" class="form-label">Hora de fin:</label>
            <input type="text" class="form-control" id="end_time" name="end_time" value="{{ event_details.end.dateTime }}">
        </div>
        <button type="submit" name="edit_form" class="btn btn-primary">Guardar cambios</button>
    </form>
    <form method="post" action="{% url 'eliminar_sesion' event_details.id %}">
        {% csrf_token %}
        <button type="submit" name="delete_form" class="btn btn-danger">Eliminar sesión</button>
    </form>
</div>




{% endblock %}


