{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Listado de Sesiones</h1>
    sesión de ejemplo $50000 <button class="btn btn-primary" id="perfil-homebtn"><a href="{% url 'pagos' %}">pagar</a></button>
    {% if sesiones %}
    <ul class="list-group">
        {% for sesion in sesiones %}
            <li class="list-group-item">{{ sesion.id }} - {{ sesion.summary }} - {{ sesion.start.dateTime }} - {{ sesion.status }} - {{ sesion.htmlLink }} <button type="button" class="btn-pago" name="pago"><a href="{% url 'init_transaction' %}">realizar pago</a></button></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No se encontraron sesiones.</p>
    {% endif %}
    
</div>

<style>
    a {
        text-decoration: none;
        font-family: 'Lexend', sans-serif;
        font-style: normal;
        font-weight: 500;
        color: black;
        }
    .list-group {
        display: inline-block;
        padding-inline: 160px;
        margin-left: 90px;
        margin-top: 25px;
    }
    .btn-pago {
        display: inline-block;
        margin-left: 20px;
        margin-top: 10px;
    }
</style>
{% endblock content %}
