{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="containermatch">
    <h1>Tus psicólogos más compatibles</h1>
    <ul>
        {% for psicologo, score in mejores_opciones %}
        <div class="cardmatch">
            <p class="card-title">{{ psicologo.psi_idusuario.user.first_name }} {{ psicologo.psi_idusuario.user.last_name }} {{ psicologo.psi_idusuario.apellido_materno }} </p>
            <p>Puntaje de compatibilidad: {{ score }}</p>
            <p>Afinidad con el psicólogo:</p>
            <p>Tipo de sesión: {{ psicologo.tiposesion_idtiposesion.nombre }}</p>
            <p>Especialidad diagnóstica: {{ psicologo.diagnostico_iddiagnostico.diagnostico }}</p>
            <p>Rango etario: {{ psicologo.rangoetario_idrangoetario.rangoetario }}</p>
            <p>Tipo de sesión: {{ psicologo.corriente_idcorriente.corrientepsicologica }}</p>
            <p>Tipo de sesión: {{ psicologo.rangoprecio_idrangoprecio.montominimo }} - {{ psicologo.rangoprecio_idrangoprecio.montomaximo }}</p>
            <p>Tipo de sesión: {{ psicologo.motivosesion_idmotivosesion.motivosesion }}</p>
            <p>Tipo de sesión: {{ psicologo.coberturasalud_id.coberturasalud }}</p>
        </div>
        {% endfor %}
    </ul>
    
</div>

{% endblock content %}