{% comment %} {% extends 'base.html' %}
# {% block content %}
#     <h2>Tus psicólogos más compatibles</h2>
#     <ul>
#         {% for psicologo in psicologo %}
#             <li>
#                 <h3>{{ psicolgo.psi_idusuario.user.first_name }} {{ psicolgo.psi_idusuario.user.last_name }}</h3>
#                 <!-- Display other relevant psychologist information -->
#             </li>
#         {% endfor %}
#     </ul>
# {% endblock %} {% endcomment %}

<div class="container">
    <h1>Tus psicólogos más compatibles</h1>
    {{ best_match }}
    
</div>