{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="volver-inicio">
    <a href="{% url 'index' %}"><i class="bi bi-arrow-left-short" id="flecha"></i></a> TEST
</div>
<form method="POST" enctype="multipart/form-data" id="FormTestPaciente" class="FormTestPaciente">
    {% csrf_token %}
    <div class="test-paciente">
        <div class="content-test" id="content-1" data-id='1' style="display: block;">
            <h3>¿Tienes alguna preferencia sobre el género de tu psicólogo/a?</h3>
            <div class="form-group">
                {{ form.pref_genero }} 
            </div>
        </div>
        <div class="content-test" id="content-2" data-id='2'>
            <h3>¿Qué tipo de terapia estás buscando?</h3>
            <div class="form-group">
                {{ form.tipo_terapia }} 
            </div>
        </div>
        <div class="content-test" id="content-3" data-id='3'>
            <h3>¿Tienes preferencia por alguna corriente teórica de psicología?</h3>
            <div class="form-group">
                {{ form.pref_corriente }} 
            </div>
        </div>
        <div class="content-test" id="content-4" data-id='4'>
            <h3>Tengo diagnóstico o sospecha de:</h3>
            <div class="form-group">
                {{ form.diagnostico_sospecha }} 
            </div>
        </div>
        <div class="content-test" id="content-5" data-id='5'>
            <h3>Motivo de búsqueda de psicólogo/a:</h3>
            <div class="form-group">
                {{ form.motivo_busqueda }} 
            </div>
        </div>
        <div class="content-test" id="content-6" data-id='6'>
            <h3>¿Cuál es el rango de precio que puedes pagar por tu sesión de terapia?</h3>
            <div class="form-group">
                {{ form.rango_precio }} 
            </div>
        </div>
        <div class="content-test" id="content-7" data-id='7'>
            <h3>¿Con qué tipo de cobertura de salud cuentas?</h3>
            <div class="form-group">
                {{ form.cobertura_salud }} 
            </div>
        </div>
        
    </div>
    <div class="botones-test">
        <button type="button" class="test-back">Volver</button>
        <button type="button" class="test-next" id="btn-test">Continuar</button>
    </div>

    <div class="test-paciente-end">
        <div class="test-fin" data-id='8'>
            <p>Test terminado uwu, quiere confirmar respuestas?</p>
            <button type="button" class="edit-anterior">Editar mis respuestas</button>
            <button type="submit" class="fin-test" id="btn-test">Encontrar psicólogo/a</button>
        </div>

    </div>
</form> 
{% endblock content %}
