{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Videollamada de Google Meet</h1>

    <table class="videollamada">
        <tr>
            <th>Psicólogo</th>
            <th>Paciente</th>
            <th>Día y hora de inicio</th>
            <th>Link de la sesión</th>
        </tr>
        {% if sesiones %}
            {% for sesion in sesiones %}
                
                <tr>
                    <td> {{ sesion.psicologo.psi_idusuario.user.first_name }} {{ sesion.psicologo.psi_idusuario.user.last_name }}</td>
        
                    <td>{{ sesion.paciente.pac_idusuario.user.first_name }} {{ sesion.paciente.pac_idusuario.user.last_name }}</td>

                    <td>{{ sesion.schedule.start_time }}</td>

                    <td> <a  href="{{ sesion.meeting_uri }} "> Ir a la sesión </a> </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

    <style>
        body {
            background-color: lightgrey;
        }
        a {
        text-decoration: none;
        font-family: 'Lexend', sans-serif;
        font-style: normal;
        font-weight: 500;
        color: green;
        }
        .videollamada {
            padding: 20px;
            margin-left: 400px;
        }
        

    </style>
{% endblock content %}